* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 400px;
  height: 450px;
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 5px 5px 9px 9px rgb(109, 116, 122);
  border-radius: 10px;
  padding: 20px;
  padding-bottom:30px ;
}

 h1{
    text-align: center;
    font-size: 30px;
    color:green;
}

hr {
    
    width: 60px;
    height: auto;
    position: absolute;
    left: 43%;
    margin-top: 10px;
    margin-bottom: 10px;
    color:linear-gradient(to left, rgb(5, 158, 99), rgb(103, 223, 103)) rgb(140, 243, 140);
}

.icons {
    margin-left: 30%;
    margin-top: 20px;
}

i{
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: .8em;
    box-shadow: 3px 3px 3px rgb(215, 226, 226);
    transform: translateY(4px);
}

p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
form input {
    margin-bottom: 20px;
    padding: 8px 8px 8px 8px;
}
input[type= "Email"]{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 8px 8px 8px;
    border-radius: 20px;
    background:  rgb(183, 255, 207);
    border: none;
}

input[type= "password"]{
    width: 100%;
    margin-bottom: 20px;
    /* padding: 8px 8px 8px 8px; */
    border-radius: 20px;
    background:  rgb(183, 255, 207);
    border: none;
}

.f-password{
margin-bottom: 10px;
}

input[type="submit"]{
    border: none;
    outline: none;
    height: 38px;
    background: linear-gradient(to right, rgb(17, 180, 118), rgb(103, 223, 103));
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px lightblue;
    padding: 8px;
    
}

.container input[type= "submit"]:hover{
    cursor: pointer;
    background: rgb(135, 206, 135);
    color: black;
    cursor: pointer;
}

.container input[type= "submit"]:active{
    transform: translateY(4px);
}

.space {
    float: right;
}

#result {
    font-family: cursive;
    font-style: italic;
    color: green;
    font-size: small;
}

@media  screen and (max-width:568px) {
    .container {
        width: 280px;
        height: auto;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        box-shadow: 5px 5px 9px 9px rgb(224, 233, 241);
        border-radius: 10px;
        padding: 20px;
        padding-bottom:30px ;
      }

    #f-pass {
        font-size: small;
    }
}










